<p>myapp works!</p>
<h1>input field</h1>
<div>
  username
  <input type="text"  name="name" [(ngModel)]="name" >
</div>
<div>
  age
  <input type="text"  name="age" [(ngModel)]="age">
</div>
<div>
  email
  <input type="text" name="email" [(ngModel)]="email">
</div>
<div>
  gender
  <input type="text"  name="gender" [(ngModel)]="gender">
</div>
<div>
  <button (click)="insertdata(name,age,email,gender)">ADD</button>
</div>
<div>
  <button (click)="update()">update</button>
</div>

<div>
<h1>Table</h1>

<table>
    <thead>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>age</th>
        <th>email</th>
        <th>gender</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let e of getalldata">
      <tr>
        <td>{{e.id}}</td>
        <td>{{e.username}}</td>
        <td>{{e.age}}</td>
        <td>{{e.email}}</td>
        <td>{{e.gender}}</td>
        <button (click)="delete(e.id)">Delete</button>
        <button (click)="edit(e.id)">Edit</button>
      </tr>
    </tbody>
  </table>
</div>

